@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

  /* width */
::-webkit-scrollbar {
    /* width: 10px; */
    display: none;
}
  
/* Track */
::-webkit-scrollbar-track {
    display: none;
    /* background: #888; */
    /*border-radius: 5px;*/
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    display: none;
    /* background: #000; */
    /* border-radius: 5px; */
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}